<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" type="text/css" src="./css_skeleton.css">
    <title>Title</title> -->

    <style>
        div.gallery {
            border: 1px solid #ccc;
        }
    
        div.gallery:hover {
            border: 1px solid #777;
        }
    
        div.gallery img {
            width: 100%;
            height: auto;
        }
    
        div.desc {
            padding: 15px;
            text-align: center;
        }
    
        * {
            box-sizing: border-box;
        }
    
        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }
    
        @media only screen and (max-width: 700px) {
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
        }
    
        @media only screen and (max-width: 500px) {
            .responsive {
                width: 100%;
            }
        }
    
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1 class="className">Some images</h1>
        
        <% if (typeof images != 'undefined') { %>
            <% images.forEach(function(image) { %>
                <div class="responsive">
                    <div class="gallery">
                        <a target="_blank" href="<%= image.path %>">
                            <img src="<%= image.path %>" alt="<%= image.name %>" width="600" height="400">
                        </a>
                        <div class="desc"><%= image.description %></div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <h2>Error: No Images Provided!</h2>
        <% } %>
    </div>
</body>

</html>