<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" type="text/css" src="./css_skeleton.css">
    <title>Title</title> -->
    <style>
        .model-info-container {
            box-shadow: 3px 3px 10px #888;
            padding: 2%;
            margin: 3%;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1>Models</h1>

        <% if (typeof models != 'undefined') { %>
            <% models.forEach(function(model) { %>
                <div class="model-info-container" onclick="location.href='/model/<%= model.id %>/details'">
                    <b><%= model.name %></b>
                    <p><%= model.description %></p>
                    <i><%= model.dateCreated %></i>
                </div>
            <% }); %>
        <% } else { %>
            <h2>Error: No Models Provided!</h2>
        <% } %>
    </div>
</body>

</html>