<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" type="text/css" src="./css_skeleton.css">
    <title>Title</title> -->
    <style>
        #central-container {
            display: grid;
            align-items: center;
            justify-content: center;
            margin: 5%;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1><%= model.name %></h1>
        <div id="central-container">
            <div>
                <button>Add image batch thing</button>
            </div>

            <div>
                <button>Test Images</button>
            </div>

            <div>
                <button>Train Images</button>
            </div>
        </div>
    </div>
</body>

</html>